.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}
    /*shared-item*/
.text-center{
    text-align: center;
}

/*header section*/

.header{
    background-image: url('../style/asset/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
    width: 1470px;
    margin: 0 auto ;
    
}

.title-header{
    text-align: center;
    padding-top: 150px;
}
.header-greting{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
/*nav section*/
.nav-title{
    font-size: 45px;
    font-weight: 800px;
    color: #4E47FF;
}

/*button section*/
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    
}
.btn-primary:hover{
    background: rgb(223, 181, 129);
    cursor: pointer;
}
/*banner section*/
.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
    margin-right: 0px;
    margin-bottom: 116px;
    margin-left: 120px;
    padding: 20px;
    gap: 70px ;
}
.banner-img{
    width: 403px;
    height: 328px;
    border-radius: 50px;
    margin-right: 159px;
    box-shadow: 5px 5px 5px #252432;
}
.banner-title{
    font-weight: bold;
    font-size: 42px;
    color:#252432 ;
}
.banner-description{
    font-size: 24px;
    font-weight: 400px;
    color: #a7a6ae;
    
}

/*3rd part*/
.number-section{
    background-color:#cccbf0 ;
    width: 1140;
    height: 306px;
    margin: 116px 159px 137px 141px ;
    border-radius: 5px;
    
    
}
.third-part-banner
{
    
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50 142;
    
}
.number-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    padding-top: 50px;
}
.number-ratio{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}
.numbers{
    padding: 0px;
    text-align: center;
    margin: 0;
}

